
@media screen and (max-width: 500px) {
    
body
{background-image: url(../img/fundo\ mobile.png);
background-color: rgb(25, 25, 25);}

section
{width: 100%;
height: 100vh;
background-image: none;
overflow: hidden;}






#menu
{display: block;
position: absolute;
width: 40px;
height: 40px;
right: 0px;
margin: 25px;
z-index: 3;}

.nav-mobile
{position: absolute;
width: 100%;
height: 100vh;
background-color: rgba(0, 0, 0, 0.9);
display: block;
right: -420px;
transition: all ease-in-out 400ms;
overflow: hidden;
z-index: 2;}

.nav-mobile ul
{width: 100%;
padding-top: 150px;
text-align: center;}

.nav-mobile a
{width: 100%;
height: 30%;
text-decoration: none;
color: white;
font-size: 3rem;}







.title
{margin-top: 230px;
margin-left: 20px;
height: 150px;
width: 90%;}

.container
{height: 100%;}

.container h1
{font-size: 4rem;}

.container h2
{font-size: 2rem;}

.nav-PC, #e-mail
{display: none;}

.contatos
{right: 30px;}

}