
@media screen and (max-width: 500px) {

#logo img
{width: 80px;
height: auto;
top: 5px;
left: 5px;}

header
{background-image: url(../imgs/fundo-mobile.jpg);
height: 200px;}

header h1
{font-size: 2rem;
padding-top: 70px;
width: 100%;
height: 100%;
background-color: rgb(16, 16, 16, 0.5);}

}